

.settingsContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.inputGroup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

label {
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;
}

input, select {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

button {
  margin-left: 10px;
  padding: 8px 12px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: darken(blue, 10%);
}

.additionalInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.additionalInfoRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.passwordSection {
  width: 100%;
  margin-top: 30px;
}

.forgotPassword {
  color: green;
  text-decoration: none;
  font-size: 14px;
  margin-top: 5px;
}

.forgotPassword:hover {
  text-decoration: underline;
}
